


body{
    margin: 0px 0px 0px 0px;
	background-color:  #baffc4;
}


}
/*--------------------------------------header------------------------------------------------------*/
.header
{   width: 100%;
	height: 55px;
	background-color: #6b736b;
	margin: 0px;
	position: fixed;
}
.logo{
	padding: 0px 0px 0px 10px;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
}
.title
{ 
	font-family: sans-serif;
	font-style: bold;
	text-shadow: 2px;

}



.slide{
	width: 100%;
	align-items: center;
	background-color: blue;
}
.left-margin
{
	margin-left: ;
}